/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #3a3a3a;
$slate: #1a1a1a;
$black: #000;


$red: #bb2025;
$blue: #278CAE;
$yellow: #fff600;
$green: #27AE60;
