section.faqs {
    @include tablet-small {
        grid-column: 3 / span 6;
    }
    
    @include desktop-small {
        grid-column: 3 / span 10;
    }

    .section-header {
        padding: 0 0 2rem 0;

        @include tablet {
            padding: 0 0 3rem 0;
        }
    }

    .faqs-list {
        @include tablet {
            columns: 2;
            column-gap: 2rem;
        }
    }

    .faq {
        break-inside: avoid;
        margin-bottom: 2rem;

        .question {
            padding-bottom: 0.5rem;

            h4 {
                font-weight: bold;
                font-size: clamp(0.875rem, 1.1vw, 1rem);
            }
        }

        .answer {
            font-size: clamp(0.8125rem, 1vw, 0.9375rem);
            line-height: 1.5em;
            max-width: 80%;

            p {

                & + p {
                    margin-top: 1.5rem;
                }
            }
        }
    }

    .cta {
        text-align: center;
        padding-top: 3rem;

        .btn {
            display: block;
            color: $white;
            background: $black;
            width: 100%;
            padding: 1.625rem 1rem 1.25rem 1rem;
            font-size: clamp(1.25rem, 2vw, 2rem);
            text-transform: uppercase;
            letter-spacing: 0.1em;            
        }
    }
}