section.form {
    padding: 3rem 0 6rem 0;

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        padding: 6rem 0;
        grid-column: 3 / span 10;
    }

    .section-header {
        border-top: 1px solid;
        padding: 3rem 0 2rem 0;

        @include tablet {
            padding: 4rem 0 3rem 0;
        }
    }

    .post-form-copy {
        padding: 2rem 0 4rem 0;
        font-size: clamp(1.125rem, 1.3vw, 1.375rem);
        line-height: 1.5em;

        @include tablet {
            padding: 3rem 0 6rem 0;
        }
    }

    .footer-copy {
        text-align: center;
        font-size: clamp(0.875rem, 1.1vw, 1rem);
        line-height: 1.5em;
        font-style: italic;
    }


    // FORMINATOR
    .forminator-row {
        margin: 0 !important;
    }

    .et-db #et-boc .et_pb_module .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-col,
    .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-col {
        padding: 0 !important;
    }

    .forminator-custom-form {
        display: grid;
        gap: 2rem;

        @include tablet {
            grid-template-columns: 1fr 1fr;
            gap: 3rem 2rem;
        }

        @include desktop-small {
            grid-template-columns: repeat(4, 1fr);
        }

        .forminator-response-message {
            display: none;

            @include tablet {
                grid-column: 1 / span 2;
            }

            & + .forminator-row {
                @include tablet {
                    grid-column: 1 / span 2;
                }
            }

            ul {
                list-style-type: disc;
                margin-left: 1em;

                li {
                    font-size: clamp(0.75rem, 1vw, 0.875rem);
                    color: red;

                    & + li {
                        padding-top: 0.75rem;
                    }
                }
            }
        }

        .forminator-field {
            display: flex;
            flex-wrap: wrap;

            input, select {
                order: 1;
                width: 100%;
                padding: 0.675rem 0.5rem 0.5rem 0.5rem;
                font-size: 1rem;

                @include desktop-small {
                    padding: 0.9375rem 0.75rem 0.75rem 0.75rem;
                    font-size: 1.25rem;

                }
            }

            select {
                height: 52px;
                border-radius: 0;
                -webkit-appearance: menulist-button;
            }

            label {
                padding-top: 0.5rem;
                order: 2;
                width: 100%;
                font-weight: bold;
                font-size: clamp(0.75rem, 1vw, 0.875rem);

                span.forminator-required {
                    color: red;
                }
            }

            .forminator-error-message {
                order: 3;
                padding-top: 0.5rem;
                font-size: 0.75rem;
                font-style: italic;
                color: red;

            }
        }

        .forminator-row-last {
            padding-top: 2rem;

            @include tablet {
                grid-column: 1 / span 2;
            }

            @include desktop-small {
                grid-column: 1 / span 4;
            }
        }
        
        .forminator-button-submit {
            color: $white;
            background: $black;
            border: none;
            padding: 0;
            width: 100%;
            padding: 1.375rem 1rem 1rem 1rem;
            font-size: clamp(1.25rem, 2vw, 2rem);
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }

    .gd-name {
        display: grid;
        gap: 2rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);

            .forminator-row {
                grid-column: span 1;
            }
        }

        
    }
}