section.gallery {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem;
    padding-bottom: 3rem;
    max-width: 1920px;
    margin: 0 auto;

    @include tablet {
        padding-bottom: 6rem;
    }

    .photo {
        @include cover-fill-image;

        img {
            height: 100%;
        }
    }
}