section.header {
    padding: 3rem 0 0 0;

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include tablet {
        padding: 6rem 0 0 0;
    }

    @include desktop-small {
        grid-column: 3 / span 10;
    }

    .copy {
        padding: 3rem 0;
        font-size: clamp(1.125rem, 1.3vw, 1.375rem);
        line-height: 1.5em;
    }
}