section.announcement {
	padding: 1rem 0;
	
	@include desktop-medium {
		position: sticky;
		top: 0;
		z-index: 100;
	}

	.info {
		text-align: center;
	}

	p {
		font-size: clamp(0.875rem, 1vw, 1rem);
		line-height: 1.375em;
	}

	a {
		text-decoration: underline;
	}
}