.hamburger {
    display: block;

    @include desktop-small {
        display: none;
    }

    a {
        width: 2rem;
        height: 1.375rem;
        display: block;
        cursor: pointer;
        transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    }

	.patty {
	    width: 2rem;
	    height: 3px;
	    background: $black;
	    transition: all 0.3s;

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 2rem;
		    height: 3px;
		    background: $black;
		    position: absolute;
		    z-index: 1;
		    transition: all 0.3s;
		}

		&:before {
		    top: -8px;
		}

		&:after {
		    top: 8px;
		}
	}
}