.mobile-nav {
	display: none;
	width: 100%;
	padding: 3rem 0;
	border-bottom: 1px solid #e5e5e5;

	@include desktop-small {
		display: none !important;
	}

	ul {
		text-align: center;

		a {
			font-size: 1rem;
			display: block;
			padding: 0.5rem;
		}
	}
}