.nameplate {

	.nameplate-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 3rem 0;

		@include desktop-small {
			border-top: 2px solid #1a1a1a;
		}

		& > * {
			width: 100%;
		}
	}

	.logo {
		order: -1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include tablet-small {
			justify-content: center;

		}

		@include desktop-small {
			width: 50%;
		}

		.image {
			@include tablet-small {
				margin-left: auto;
				margin-right: -2rem;
							
			}

			@include desktop-small {
				margin-left: 0;
				margin-right: 0;
			}

		}

		.hamburger {
			display: flex;
			justify-content: flex-end;

			@include tablet-small {
				margin-left: auto;
			}

			@include desktop-small {
				display: none;
			}
		}
	}

	.info {
		text-align: center;
		padding: 3rem 0 0 0;
		display: none;

		@include desktop-small {
			display: block;
		}

		h3 {
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: bold;
			padding: 0 0 0.5rem 0;
		}

		@include tablet-small {
			width: 50%;
		}

		@include desktop-small {
			width: 25%;
			padding: 0;

			&.left {
				order: -1;
			}
		}

		p {
			font-size: 0.875rem;
			line-height: 1.75em;
			font-style: italic;
		}
	}
}