body.nav-open {
    .site-header {
        .hamburger {
            .patty {
                background: none;
        
                &:after {
                    top: 0;
                    transform: rotate(45deg);
                }
    
                &:before {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}