.site-nav {
    display: none;

    @include desktop-small {
        padding: 1.5rem 0;
        display: block;
    }

    & > ul {
        display: flex;
        justify-content: center;
        align-items: center;

        & > li {
            &:after {
                content: "·";
                display: inline-block;
                padding: 0 1rem;
            }

            &:last-of-type:after {
                display: none;
                padding-right: 0;
            }

            a {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.1em;
                font-size: 0.875rem;
            }
        }
    }
}
