.social-links {
	position: absolute;
    top: -0.5rem;
	right: 0;
    display: flex;
    align-items: center;
    z-index: 1001;

    @include desktop-medium {
        top: 1rem;
        z-index: 1;
    }

    .social-link {
        max-width: 1.75rem;

        & + .social-link {
            margin-left: 0.5rem;

            @include desktop-medium {
                margin-left: 1rem;
            }
        }

        a {
            display: block;
            
            img {
                width: 100%;
            }
        }
    }



}