.actions {
    padding-bottom: 4rem;
    display: grid;
    gap: 4rem 3rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);

        .action {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @include desktop-small {
        grid-column: 4 / span 8;
    }

    .headline {
        max-width: 20rem;
        margin: 0 auto;
        padding-bottom: 1.5rem;

        h4 {
            font-family: $brandon;
            font-size: 0.8125rem;
            font-weight: bold;
            line-height: 1.5em;
            letter-spacing: 0.1em;
        }
    }

    .cta {
        a.btn {
            display: inline-block;
            border: 2px solid $white;
            background: transparent;
            padding: 0.625rem 1rem 0.5rem 1rem;
            border-radius: 5px;
            font-size: 0.75rem;
            font-weight: bold;
            letter-spacing: 0.1em;

            &:hover {
                background: $white;
                color: $slate;
            }
        }
    }
}