section#comment-card {
	display: none;
	padding: 25px;

	.header {
		text-align: center;
		padding: 0 0 25px 0;

		h3 {
			font-size: 3em;
		}

		p {
			padding: 10px 0 0 0;
			font-style: italic;
		}
	}

	.form {
		div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
		div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
		div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
			max-width: 100%;
		}
		label {
			text-transform: uppercase;
			font-size: 1em;
			font-weight: 400;

			&.wpforms-field-sublabel {
				text-transform: none;
			}

			&.wpforms-error {
				padding: 10px 0 0 0;
				display: block;
			}
		}

		textarea {
			padding: 10px;
		}

		div.wpforms-container-full .wpforms-form button[type=submit] {
			border-radius: 2px;
			font-size: 1.25em;
			padding: 14px 20px 11px 20px;
			color: $white;
		}

		div.wpforms-container-full .wpforms-form .wpforms-field-description {
			font-size: 1.125em;
			font-style: italic;
			margin-top: 3px;
		}
	}

	.wpforms-confirmation-container-full {
		background: none;
		border: none;
		padding: 25px 0 0 0;
	}
}
