.site-footer {
    background: $slate;
    color: $white;
    font-family: $brandon;
    padding: 4rem 0;
    text-align: center;
    text-transform: uppercase;

    a {
        color: $white;
    }

    @import 'actions';

    @import 'hrg-family';

    @import 'photo-credit';
}

@import 'comment-card';

@import 'newsletter-subscribe';
