.hrg-family {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 4rem;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .footer-header {
        padding-bottom: 1rem;
        
        h4 {
            font-family: $brandon;
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 1.5em;
            letter-spacing: 0.1em;
    
            @include tablet {
                line-height: 1em;
    
                br {
                    display: none;
                }
            }
        }
    }

    .restaurants {
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            @include tablet {
                padding: 1rem 0;
            }

            @include desktop-small {
                max-width: 80%;
                margin: 0 auto;
            }
        }

        .link {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 0;

            @include tablet {
                width: auto;
                padding: 0;

                & + .link {
                    &:before {
                        content: "·";
                        display: block;
                        padding: 0 0.75rem;
                        font-weight: 900;
                        font-size: 1.25rem;
                    }
                }
            }

            a {
                font-size: 0.8125rem;
                font-weight: bold;
                letter-spacing: 0.1em;
            }
        }
    }
}