section#newsletter-subscribe {
	display: none;
	padding: 25px;

	.overlay-wrapper {
		padding: 100px 50px;
	}

	#mc_embed_signup div.mce_inline_error {
		background-color: #f00;
		font-weight: normal;
		margin: 10px 0 0 0;
		font-family: $brandon;
		font-size: 1em;
		padding: 12px 12px;
	}

	#mce-responses {
		margin-top: 10px;


		.response {
			font-size: 0.875em;
			line-height: 1.25em;
		}
	}
	
	form {


		p {
			width: 100%;
			display: block;
			padding: 0 0 25px 0;
			font-weight: normal;
			font-size: 1.125em;
			line-height: 1.125em;
			font-family: $brandon;

			@include tablet {
				font-size: 1.75em;
			}
		}

		.form-wrapper {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			.mc-field-group {
				width: 100%;

				@include tablet {
					width: auto;
					flex: 1;
				}
			}

			.clear {
				width: 100%;

				@include tablet {
					width: auto;
				}
			}
		}

		input[type="email"] {
			width: 100%;				
			border: none;
			padding: 12px 15px 10px 15px;
			font-family: $brandon;
			font-weight: 500;
			height: 55px;
			border: 2px solid $slate;

			&::placeholder {
				color: $slate;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		.button {
			border: 2px solid;
			background: transparent;
			color: $slate;
			margin-top: 10px;
			height: 55px;
			padding: 18px 16px 15px 16px;
			border-radius: 5px;
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.1em;
			font-weight: bold;
			font-family: $brandon;
			transition: all 0.2s ease-in-out;

			@include tablet {
				margin: 0 0 0 10px;
			}

			&:hover {
				background: $slate;
				color: $white;
				border: 2px solid $slate;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}