.photo-credit {
    padding-top: 2rem;
    text-align: center;

    p {
        font-size: 0.6125rem;
        letter-spacing: 0.1em;
    }

    a {
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}
