body,
button,
input,
select,
optgroup,
textarea {
	font-family: $montserrat;
}

::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

a {
	color: $green;
	transition: color 0.2s ease-in-out;
}

a[href^="tel:"] {
	text-decoration: underline;
}

@import "headings";

@import "copy";