body {
	background: $white;
}

.site-content {
	@include tablet {
		min-height: 50vh;
	}
}

@import "grid";

@import "sub-grid";

#covid-modal {
	display: none;
	.overlay {
		z-index: 100;
		opacity: 1;
		background: transparent;

		&-wrapper {
			max-width: 750px;
			box-shadow: none;

		}
	}
	

	.headline {
		text-align: center;
		padding-bottom: 2em;
		border-bottom: 1px solid;
		margin-bottom: 2rem;

	}

	.content {
		text-align: center;

		h3 {
			padding-bottom: 1rem;
		}

		p {
			line-height: 1.5em;

			& + h3 {
				padding-top: 3rem;
			}

		}
	}
}