body.page-template-group-dining {

    .section-header {
        h3 {
            font-weight: bold;
            font-size: clamp(1.5rem, 3vw, 2rem);
        }
    }

    @import 'group-dining/header';

    @import 'group-dining/gallery';

    @import 'group-dining/faqs';

    @import 'group-dining/form';
}