body.page-template-location {
    section.location {

        .info {
            padding-bottom: 3rem;

            @include tablet {
                padding-bottom: 0;
                grid-column: 2 / span 4;
            }

            h3 {
                padding-bottom: 0.25rem;

            }

            p {
                & + h3 {
                    margin-top: 2rem;

                }
            }
        }

        .exterior-photo {
            @include tablet {
                grid-column: 6 / span 4;
            }

            @include desktop-small {
                grid-column: 6 / span 8;
            }
        }

        .map {
            padding-top: 3rem;

            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }


    }
}