.ui-datepicker {
    background: $white;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 100%;
    max-width: 16rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;

    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 0.75rem;
    }

    &-prev,
    &-next {
        width: 50%;
        display: flex;
        padding-bottom: 0.5rem;

        &:hover {
            cursor: pointer;
        }

        span {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: 0.05em;
        }
    }

    &-next {
        span {
            margin-left: auto;
        }
    }

    &-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-month,
    &-year {
        width: calc(50% - 0.25rem);
        padding: 0.25rem 0.125rem;
    }

    &-calendar {
        width: 100%;
        border-left: 1px solid;

        th {
            text-align: center;
            padding: 0.5rem 0.125rem 0.25rem 0.125rem;
            background:$black;
            color: $white;
        }

        td {
            text-align: center;
            border-right: 1px solid;
            border-bottom: 1px solid;
            padding: 0;

            a {
                display: block;
                padding: 0.5rem 0.125rem 0.25rem 0.125rem;

                &:hover,
                &.ui-state-active {
                    background:$black;
                    color: $white;
                }
            }
        }
    }
}