.template-agave {

    .agave-intro {
        padding: 0 0 3rem 0;
    }

    .intro-contents {
        @include tablet {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .content {
            padding: 2rem;
            border-top: 1px solid;
            &:nth-last-child(n+2):nth-last-child(-n+2):first-child,
            &:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ .content {
                @include tablet {
                    grid-column: span 2;
                }
            }

            @include tablet {
                border-left: 1px solid;
                border-top: none;


            }

            .headline {
                padding-bottom: 0.5rem;
            }

            .copy {
                line-height: 1.25em;
            }
        }
    }

}