.footer-copy {
    padding-top: 3rem;
    font-style: italic;

    @include desktop-small {
        padding-top: 6rem;
    }


    @include desktop-medium {
        grid-column: 4 / span 8;
    }

    * {
        font-size: clamp(0.875rem, 1.1vw, 1rem);
        line-height: 1.5em;
    }
}