.item {
    margin-bottom: 2rem;

    .title {
        padding-bottom: 0.25rem;
    }

    .details {
        p {
            line-height: 1.25em;

            span {
                display: block;
                white-space: break-spaces;
    
                &.note,
                &.options {
                    font-style: italic;
                }
            }
        }
    }

    &.special + .special {
        margin-top: -2rem;
    }
}