nav.menu-subnav {
    padding: 3rem 0 4rem 0;
    text-align: center;

    @include desktop-small {
        padding: 6rem 0;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        width: 100%;
        padding: 1rem 0;

        @include tablet {
            width: auto;
            padding: 1rem 2rem;
        }
    }

    li:nth-last-child(-n+1):first-child,
    li:nth-last-child(-n+1):first-child ~ li { 
        a {
            font-size: clamp(1.5rem, 3vw, 2.75rem);
        }
    }

}