.menu-section {
    @include desktop-medium {
        grid-column: 4 / span 8;
    }

    &.align-center {
        text-align: center;
    }

    &.align-left {
        text-align: left;
    }
    
    &.columns-one {
        @include desktop-small {
            grid-column: 4 / span 8;
        }

        @include desktop-medium {
            grid-column: 5 / span 6;
        }            
    }

    &.columns-two {
        @include tablet {
            .items {
                columns: 2;
                column-gap: 2rem;
    
                .item {
                    break-inside: avoid;
                }
            }
        }
    }

    &.columns-three {
        @include tablet {
            .items {
                columns: 2;
                column-gap: 2rem;
    
                .item {
                    break-inside: avoid;
                }
            }
        }

        @include desktop-small {
            .items {
                columns: 3;
            }
        }
    }

    & + .menu-section {
        margin-top: 6rem;

        @include desktop-small {
            margin-top: 8rem;
        }
    }

    .image {
        padding-bottom: 2rem;

        img {
            margin: 0 auto;
            max-width: 12rem;
            width: 100%;
        }
    }
}