.template-wine-by-the-glass {
    .item.duo {
        .wine {
            display: grid;
            gap: 2rem;
            grid-template-columns: 4rem 1fr;

            & + .wine {
                padding-top: 0.5rem;
            }

            p {
                line-height: 1.5em;
            }
        }


    }
}